@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Jockey+One&display=swap" rel="stylesheet" />
    <link href="~/mystyle/emailverificationcorrectstyle.css" rel="stylesheet" />
</head>
<body>
    <div class="v116_2">
        <div class="v116_3">
            <span class="v116_5">Hesabın başarıyla oluşturulmuştur.</span>
            <span class="v116_6">Aramıza Hoş Geldin!</span>
            <a href="Deneme.html" class="v116_14">Tamam</a>
        </div>
    </div>
</body>
</html>
