@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Jockey+One&display=swap" rel="stylesheet" />
    <link href="~/mystyle/emailverificationstyle.css" rel="stylesheet" />
</head>

<body>
    <img src="~/images/newverifyemail.png" class="v4_4" />
    <div class="v4_5">
        <span>Email Adresini Doğrulama</span>
    </div>
    <div class="v4_6">
        <span>
            adresine doğrulama linki gönderdik.Email adresiniz doğrulamak için linke
            tıklayınız.
            Doğrulama linki 2 saat geçerlidir.
        </span>
    </div>
</body>

</html>